install/
/JavaPA/nbproject/private/
/Adatbazis/nbproject/private/
/Adatbazis/build/
/Ablak/nbproject/private/
/Ablak/build/
/AlgorithmsPart1Princeton/nbproject/private/
/CompleteJavaDevCourseUdemy/nbproject/private/
/CompleteJavaDevCourseUdemy/build/